html, body {
    background-color: rgb(233, 233, 233);
    div#root{
      text-align: center;
    }
  }

.app{
    display: flex;
    flex-direction: column;
    height: 100%;
  .navbar{
    position: sticky;
    top: 0;

  }
  .navbar-brand{
    color: white;
  }
  .bmd-btn-fab{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .card + div{
    margin-top: 10px;
  }
  .cards{
    padding: 10px;
    flex: 1;
    height: 100%;
    overflow: auto;
  }
}
